*.a
*.bak
*.d
*.dll
*.dylib
*.exe
*.exe~
*.gpg
*.kbx
*.kbx~
*.lib
*.o
*.out
*.pdb
*.pub
*.so
*.so.*
*.ssh
*.swap
*.swp
*.test
*.tmp
*.temp
.bash_history
.cache
.dotf
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.gnupg
.pnp.js
.ssh
id_rsa*
npm-debug.log*
package-lock.json
secring.*
yarn-debug.log*
yarn-error.log*
/build
/coverage
/node_modules
/.pnp
/test
/tests
