*.a
*.bak
*.d
*.dll
*.dylib
*.exe
*.exe~
*.gpg
*.kbx
*.kbx~
*.lib
*.log
*.o
*.out
*.pdb
*.pem
*.pid
*.pid.lock
*.pub
*.seed
*.so
*.so.*
*.ssh
*.swap
*.swp
*.temp
*.test
*.tmp
.DS_Store
.bash_history
.cache
.cache/logs
.dotf
.env
.env*
.eslintcache
.gnupg
.npm
.pnp.*
.pnp.js
.pnpm-debug.log*
.ssh
.temp
.vercel
.vscode/
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
/.next/
/.pnp
/artifacts
/bin
/build
/coverage
/node_modules
/out/
CMakeCache.txt
CMakeLists.txt.user
artifacts
cache
coverage
coverage.json
dist/
downloads/
id_rsa*
lerna-debug.log*
node_modules
npm-debug.log*
package-lock.json
pids
pip-log.txt
secring.*
typechain
yarn-debug.log*
yarn-error.log*
