*.a
*.bak
*.d
*.dll
*.dylib
*.exe
*.exe~
*.gpg
*.kbx
*.kbx~
*.lib
*.log
*.o
*.out
*.pdb
*.pid
*.pid.lock
*.pub
*.seed
*.so
*.so.*
*.ssh
*.swap
*.swp
*.temp
*.test
*.tmp
.bash_history
.cache
.cache/logs
.dotf
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.gnupg
.npm
.pnp.*
.pnp.js
.pnpm-debug.log*
.ssh
.temp
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
/.pnp
/bin
/build
/coverage
/node_modules
/test
/tests
id_rsa*
lerna-debug.log*
npm-debug.log*
pids
secring.*
yarn-debug.log*
yarn-error.log*
